* {

}

:root {
    --primary-color: #4d6280;
    --secondary-color: #6fccdd;
    --tertiary-color: #f25774;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

/* Header */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/bgimage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 40%;
    z-index: 9999;
}

header h1 {
    font-size: 25px;
    color: var(--secondary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.25;
}

header nav ul li a:hover {
    color: var(--tertiary-color);
}

/* Hero Styles */
.hero {
    background-image: url("../images/bgimage.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    color: #f2f2f2;
    background-attachment: fixed;
    background-position: 40%;
}

/* Section Styles */
section {
    padding: 60px;
}

.section-title {
    font-size: 48px;
    text-align: center;
    margin: auto 10px ;
    border-bottom: 3px solid;

}

.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--secondary-color);
}


/* About Styles*/

/* Work Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto));
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;

}

.container .box {
    background: lightcoral;
    padding: 20px;
    display: grid;
    font-size: 18px;
    place-items: left;
    text-align: left;
    color: #fff;
    transition: 0.5s;
}

.container .box:hover {
    background: rgba(101, 230, 253, 0.8);
}

.container .box img {
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}

.container .box:nth-child(1) {
    grid-column: span 3;
    grid-row: span 1;
}

@media (max-width: 991px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto));
    }
    .container .box {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}
/* Contact Styles */

/* Footer Styles */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 14px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: left;
    color: var(--secondary-color);
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--tertiary-color);
}